.content {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

/* Navigation bar */
.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: cadetblue;
}

/* Resource name */
.name {
  display: table;
  margin: 20px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  min-height: 50px;
  border: 1px solid cadetblue;
  border-radius: 10px;
  box-sizing: border-box;
}

.name p {
  display: table-cell;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.name button {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  background-color: cadetblue;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  color: #f2f2f2;
}

.name span.container {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.name span.placeholder {
  font-style: italic;
  color: cadetblue;
}

/* Resource form */
.resource {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.resource label {
  text-align: left;
  display: block;
}

.resource h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.resource input,
.resource textarea,
.resource select {
  width: 100%;
  padding: 6px, 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  min-height: 30px;
}

.resource p {
  font-size: 20px;
  margin: 20px;
}

.resource p.recomendation {
  color: cadetblue;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  margin: 0px;
  margin-bottom: 10px;
}